@mixin setFont($nm, $fileNm, $weight:100){
	@font-face {
			font-family: $nm;
			font-weight: $weight;
			font-display: block;
			src: local("※"), url($font_url + $fileNm + ".woff2") format('woff2'),
			local("※"), url($font_url + $fileNm + ".woff") format("woff");
	}
}

@mixin font($size, $line: null, $color: null, $weight: null){
  font-size: calcRem($size);
  @if $weight != null {
    font-weight: $weight;
  }
  @if $color != null {
    color: $color;
  }
  @if $line != null {
    @if($size == $line){
      line-height: 1; 
    } @else {
      line-height: calcRem($line); 
    }
  }
}

@mixin fontfamily($weight: 400, $name: null) {
  font-family: $family;
  font-weight: $weight;
}

@mixin SpoqaHanSansBold($weight:100){
font-family: $family;
font-weight:$weight;
}

@mixin bgSvg($fc:null, $repeat:no-repeat, $bgPos:0 0, $bgSize:null, $bgColor:null){
  background:$bgColor $fc $repeat $bgPos;
  @if $bgSize != null {
    background-size:$bgSize;
  }
}

@mixin bg($fileNm:null, $repeat:no-repeat, $bgPos:0 0, $bgSize:null, $bgColor:null){
	background:$bgColor url($url + $fileNm + $version) $repeat $bgPos;
	image-rendering: -webkit-optimize-contrast;
	@if $bgSize != null {
		background-size:$bgSize;
	}
}
@mixin ellipsis($type:null,$num:2) {
	overflow:hidden;
	text-overflow:ellipsis;
	@if $type == multi {
		white-space: normal;
		word-wrap: break-word;
		display:-webkit-box;
		-webkit-line-clamp:$num;
		-webkit-box-orient:vertical;
	}@else{
		white-space:nowrap;
	}
}
	
@mixin clear($display:block){
	display: $display;
	clear: both;
	content: "";
}
	
@mixin setCont($width:auto, $height:auto, $display: null, $position:null,  $color:null) {
	// content:"";
	width:$width;
	height:$height;
	@if $display != null {
		display:$display;
	}
	@if $position != null {
		position:$position;
	}
	@if $color != null {
		background:$color;
	}
}
	
@mixin blind {
	overflow: hidden;
	text-indent: -2000em;
}