@font-face {
	font-family: "SpoqaHanSansNeo-Bold";
	src: url("https://s3.ap-northeast-2.amazonaws.com/static.unicornranch.co.kr/common/font/spoqahansans/SpoqaHanSansNeo-Bold.woff2");
  }
  
@font-face {
font-family: "SpoqaHanSansNeo-Regular";
src: url("https://s3.ap-northeast-2.amazonaws.com/static.unicornranch.co.kr/common/font/spoqahansans/SpoqaHanSansNeo-Regular.woff2");
}

html, body {
	border: none;
	font-family: "SpoqaHanSansNeo-Regular";
	font-size: 16px;
	line-height: 1.7;
	color: $black;
}

html, body, div, ul, li, dl, dt, dd, ol, p, h1, h2, h3, h4, h5, h6, form, fieldset {
	margin: 0;
	padding: 0;
}

* {
	outline: none;
}

html {
	width: 100%;
	height: 100%;
	-webkit-text-size-adjust: none;
}

body {
	min-height: 100%;
	box-sizing: border-box;
}

.report, .covera, .coverb{
  div, ul, li, a, h1, h2, h3, h4, h5, h6, strong, span, p, b, th, td, article, button, aside, details, figcaption, figure, footer, header, menu, nav, section, main, input{
    box-sizing: border-box;
  }

  article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {
    display: block;
  }
  
  ul, ol, dl, li {
    list-style: none;
  }
  
  em, address {
    font-style: normal
  }
  
  img {
    border: 0;
    vertical-align: top;
    image-rendering: -webkit-optimize-contrast;
    -webkit-perspective: 1;
  }
  
  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }
  
  a.disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
  div, ul, li, a, h1, h2, h3, h4, h5, h6, strong, span, p, b, th, td, article, button, aside, details, figcaption, figure, footer, header, menu, nav, section, main, input{
    box-sizing: border-box;
  }
  a, em, span, strong{
    display: inline-block;
  }
  .mr10{margin-right: 10px !important;}
}
