/*URL*/
//$url: "/img/";
$font_url: "https://s3.ap-northeast-2.amazonaws.com/static.unicornranch.co.kr/common/font";
/*Hashing*/
$version: "?v=1";


/*Font 및 Color*/
$family: "SpoqaHanSansNeo-Bold","SpoqaHanSansNeo-Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, "돋음",'AppleGothic', 'Arial', 'Meiryo', 'sans-serif';
$white: #ffffff;
$black: #333333;
$gray: #555555;
$blue: #0055A6;
$point: #102041; // rgb(16, 33, 65);
$red: #E00D14;

$s_blue: "0055A6";
